@font-face {
    font-family: TTLakes;
    src: url('./TTLakes/TTLakes-Medium.woff') format('woff');
}

body {
    font-family: TTLakes, sans-serif;
    color: black;
}

body.menu_open {
    overflow: hidden;
}

.icon {
    width: 40px;
    height: 40px;
    border: 0;
    outline: none;
    background: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.overlay {
    position: fixed;
    transition: opacity 0.3s ease;
}
.menu_overlay.open {
    opacity: 1;
    pointer-events: all;
}

.menu_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-bottom: 1px solid var(--border);
    min-height: 64px;
}


.bare {
    width: 40px;
    height: 40px;
    background: none;
    cursor: pointer;
    border: none;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    flex-shrink: 0;
}
.bare:hover {
    transform: scale(1.08);
}

.menu_nav { 
    flex: 1; 
    padding: 20px 0; 
}

.menu_nav_item {
    display: block;
    width: 100%;
    padding: 14px 24px;
    background: none;
    border: none;
    text-align: left;
    border-left: 5px solid transparent;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    align-items: left;
}

.menu_nav_item:hover {
    border-left: 5px solid #41F6D7;
}

.menu_footer {
    padding: 24px;
    border-top: 1px solid var(--border);
}
.menu-footer_icons {
    display: flex;
    gap: 10px;
    margin-bottom: 16px;
}
.menu_footer_email {
    font-size: 14px;
    color: var(--gray);
    margin-bottom: 4px;
}
.menu_footer_phone {
    font-size: 22px;
    font-weight: 800;
    margin-bottom: 16px;
}
.menu_footer_lang {
    display: flex;
    gap: 16px;
    font-size: 13px;
}
.menu_footer_lang span {
    cursor: pointer;
    color: black;
    transition: color 0.3s ease;
}
.menu_footer_lang span.lang_active {
    color: gray;
}



header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    background: white;
    height: 64px;
    position: sticky;
    top: 0;
    z-index: 100;
    border-bottom: 1px solid var(--border);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}
.header_left {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_right {
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon img{
    display: block;
    height: 36px;
}
.tablet_only {
    display: none;
}


.nav_actions {
    display: none;
    gap: 20px;
    align-items: center;
}
.nav_action_icon {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    font-weight: 600;
    border: none;
    background: none;
    font-family: TTLakes, sans-serif;
}


@media(min-width:768px){
    header{padding:0 32px;}
    main{padding:40px 32px;}
    .tablet_only{display:flex;}
    .content_section{grid-template-columns:1fr 1fr;gap:40px;align-items:center;}
    .content_text p{font-size:16px;}
    .cps_sign{aspect-ratio:16/10;}
}

@media(min-width:1120px){
    header{padding:0 40px;}
    .nav_actions{display:flex;}
    #mainMenuBtn{display:none;}
    .tablet_only{display:none;}
    .content_section{gap:60px;}
    .cps_sign{aspect-ratio:16/9;}
}